/* #540D11
#1A3A22
#442A1D 
#DB9C71*/

@media (min-width: 320px) {
  .App {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    background-image: url(../img/animals-102483_640.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
  }
  .name {
    text-align: center;
    margin-top: 20px auto;
    flex-basis: 90%;
    font-size: 20px;
    font-weight: 700;
    background-color: #db9c71;
    color: #540d11;
  }
  .Multi {
    margin-bottom: 50px;
  }
  .StartViev {
    margin: 0 auto;
  }
}
@media (min-width: 641px) {
  .App {
    height: 60vh;
  }
  .name {
    font-size: 24px;
    height: 40px;
  }
  .Multi {
    margin: 60px;
  }
}
